<h1>Editing citizenship</h1>

<%= render "form", citizenship: @citizenship %>

<br>

<div>
  <%= link_to "Show this citizenship", @citizenship %> |
  <%= link_to "Back to citizenships", citizenships_path %>
</div>
